version: '3'
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
    - 8080:8080
    volumes:
    - ./src:/srv/app/src:ro
    - ./config:/srv/app/config:ro
    - ~/.kube:/root/.kube:ro